.card2-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    gap: 1rem;
}
.card2-list
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.card2-imgdiv{
    border: 2px solid rgba(244, 238, 238, 0.744);
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card2-images
{
    width: 3.5rem;
    height: 3.5rem;
}
.card-list:hover{
    box-shadow: 2px 2px 5px 2px ;
}
.card2-names{
    font-size: 1rem;
    opacity: 1;
    font-weight: bolder;
}
.card2-names:hover {
    color: rgba(46, 174, 4, 0.731);
}
.card2-imgdiv:hover {
    border: 2px solid  rgba(46, 174, 4, 0.731);
}