@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
.featured_productlist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-top: 5rem;
   }
.featureproduct_head1{
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 2px solid greenyellow;
}
.feature_producttags{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    color: rgb(186, 182, 182);
}
.listtagname:hover{
    color: greenyellow;
    cursor: pointer;
}


.features-list
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
    border-top: 1px solid rgba(213, 209, 209, 0.855);
   padding: 0.5rem;
}
.productcard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    opacity: 0;
    

}
.card-actions{
    font-size: 1.5rem;
}
.card-actions:hover{
    color: greenyellow;
    cursor: pointer;
}

.productcard-container {
        margin: 0;
        transition: all 300ms linear;
}
    
.card-container:hover .productcard-container{
        transform: translateY(-100%);
        opacity: 1;
}
.modal2{
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    
}
.modal3{
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}