.section3{
    width: 98vw;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: url(https://ogami-react.vercel.app/assets/images/hero-slider/one/bg-1.png);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.s3d1{
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
   
}
.s3d2{
    width: 30rem;
    height: 25rem;
}
.img3{
    width: 100%;
    height: 100%;
}
.s3d1d3{
    color:rgb(71, 70, 70);
}
.dolar,.s3d1d1{
    color: rgb(80, 155, 6);
}
.btn1{
    background-color:rgb(134, 233, 35) ;
    padding: 0.5rem 1rem ;
    border-radius: 1.5rem;
    margin-top: 1rem;
    color: white;
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-weight: 600;
}
.s3d1d2{
    font-size: 3rem;
    font-weight: bold;
}
































.img1{
    width: 100%;
    height: 100%;
}
.imgdiv1{
    width: 2rem;
    height: 1.5rem;
}
.section1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(235, 236, 237);

}
.s1d1d1{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem;
}
.s1d1d2{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem;
}
.s1d1{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem; 
}
.s1d2{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem; 
}
.s1d2d1,.s1d2d2,.s1d2d3{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem; 
}
.div1:hover{
    color:rgb(96, 185, 6);
}
.s1d2d3:hover{
    color:rgb(96, 185, 6);
}

.s2d2d6:hover{
    color:rgb(96, 185, 6);
}
.s2d2d4,.s2d2d5{
    color:rgb(96, 185, 6); 
}
.imgdiv2{
    width: 6rem;
    height: 2.5rem;

}
.img2{
    width: 100%;
    height: 100%;
}
.searchicon{
    fill: white;
   
}
.searchdiv{
    background-color:rgb(96, 185, 6);
    /* fill: white; */
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content:center;
    align-items: center;
    /* padding: 1rem 1rem; */
}
.inputbox{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 30rem;
    height: 3rem;
    border: 2px solid rgb(141, 139, 139);
    
}
.inpstrt{
    display: flex;
    justify-content:center;
    align-items: center; 
    border: none;
    outline: none;
    gap: 2rem;
}
.inpbox{
    display: flex;
    justify-content:center;
    align-items: start;
    width:16rem;
    padding:0 1rem ;
    height: 3rem;
text-align: start;
border: none;
outline: none;
border-left: 1px solid rgb(141, 139, 139);


}
.section2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 1rem;
}
.s2d1{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
}
.s2d2{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
}
.s2d2d6{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem; 
}
.s2d2d1,.s2d2d2,.s2d2d3{
    font-weight: bold;
}

